<div class="about-section">
  <br>
  <h1>About Us Page</h1>
  <p>Our snus shop presents best prices for a wide range of snus assortiment. In lockdown time it is better to stay home and order snus from WolfSnus. Also if you are a smoker it is the best time to think about your health and replace going outside with staying at home. </p>
  <p>Our robot-couriers will bring your order to you within 3 hours from ordering if you are located in Mustamäe, in other part of the world you get your order within 4 hours. Shipping is totally free for all our buyers.</p>
  <br>
  <p>Feel free to give us feedback or ask any questions trough the contacts below.</p><br>
  <p>Email: wolfsnus@gmail.com</p>
  <p>Phone: +372 56855671</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Nikita Birjukovs</h2>
        <p class="title">CEO & Founder</p>
        <p>Decided to use his skills to take over the snus empire and become the biggest snus kingpin.
        <br>
        <br>
        <a href = "mailto: nikita@snusshop.ee">Send Email</a>
        <br>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Artur-Aleksander Pärnoja</h2>
        <p class="title">Noname</p>
        <p>The man, the myth, the legend... (java genius)</p>
        <a href = "mailto: artur@snusshop.ee">Send Email</a>
        <br>
        <br>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ilya Boichuk</h2>
        <p class="title">Janitor</p>
        <p>Specialises in making your snus shiny.</p>
        <br>
        <a href = "mailto: ilja@snusshop.ee">Send Email</a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
