<div class="info">
<h2>About us</h2>
<p>Our snus shop presents best prices for a wide range of snus assortiment. In lockdown time it is better to stay home and order snus from WolfSnus. Also if you are a smoker it is the best time to think about your health and replace going outside with staying at home. Our robot-couriers will bring your order to you within 3 hours from ordering if you are located in Mustamäe, in other part of the world you get your order within 4 hours. Shipping is totally free for all our buyers.</p>
<h2>Contact us</h2>
<p>Feel free to give us feedback or ask any questions trough the contacts below.</p><br>
<p>Email: wolfsnus@gmail.com</p>
<p>Phone: +372 56855671</p>
</div>

