<h1 style="padding-top: 50px; padding-left: 20px">Login</h1>
<div style="padding-top: 70px; padding-left: 20px">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div>
      <label for="username">
        Name
      </label>
      <input id="username" type="text" formControlName="username">
    </div>
    <div>
      <label for="password">
        Password
      </label>
      <input id="password" type="password" formControlName="password">
    </div>
    <button class="button" type="submit">login</button>
  </form>
</div>
