.global-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shopping-cart-items {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.alert {
  margin-top: 10px;
  max-width: 200px;
  background-color: lightgreen;
}

.purchase {
  padding: 40px;
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
}

.purchaseButt {
  background-color: #e2ebf0;
}

.purchaseButt:hover {
  background-color: #888888;
}

.lab {
  width: 200px;
  justify-content: space-around;
}

li a{
  text-decoration: none;
}

.name {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 200%;
}

.image {
  width: 200px;
  height: 200px;
}

.info {
  padding: 0;
  border: black 2px;
  background: #e2ebf0;
  list-style-type: none;
  color: black;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.itemCount {
  margin-right: 2px;
  margin-bottom: 2px;
}

.info:hover {
  background-color: #888888;
}

.delete-button {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 200px;
  background-color: #e2ebf0;
}

.delete-button:hover {
  background-color: #888888;
}
