.dashboard {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.heading {
  text-align: center;
}

a {
  text-decoration: none;
}

.topSnus {
  display: flex;
  flex-flow: row wrap;
  justify-content: center
}

.topSnus-1-4 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #e2ebf0;
  width: 300px;
}

.topSnus-1-4:hover {
  background-color: #888888;
}

.SnusInfo {
  list-style-type: none;
  padding: 0;
  border: black 2px;
  color: black;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.SnusImage {
  width: 200px;
  height: 200px;
}
