<div class="comments">
  <p><strong>COMMENTS:</strong></p>
  <div>
    <ul class="commentsSection">
      <li class="commentBody" *ngFor="let comment of comments">
        {{comment.firstName}}:<br>{{comment.comment}}
        <p class="time">{{comment.time}}</p>
        <button *ngIf="user.role === 'ADMIN'" class="leaveComBtn" title="delete comment">x</button>
      </li>
    </ul>
  </div>

  <div *ngIf="user.role === 'USER'" class="leaveComment">
    <label><strong>Leave comment:</strong></label>
    <label>Your first name:
      <input #firstName/>
    </label>
    <label>Your last name:
      <input #lastName class="lastNameInp"/>
    </label>
    <label>Commentary:<br>
      <textarea #comment class="commentArea"></textarea>
    </label>
    <button class="leaveComBtn" (click)="addComment(firstName.value, lastName.value, comment.value); firstName.value = ''; lastName.value = ''; comment.value = ''">Add Comment</button>
  </div>
</div>
